@import url("https://fonts.googleapis.com/css?family=Chivo:400|Chivo:400");

html {
  font-size: 27px;
}

body {
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

p {
  margin-bottom: 1.25em;
}

h1,
h2,
h3,
h4,
h5 {
  /* margin: 2.75rem 0 1rem; */
  font-family: "Chivo", sans-serif;
  font-weight: 400;
  line-height: 1.15;
}

h1 {
  margin-top: 0;
  font-size: 3.052em;
}

h2 {
  font-size: 2.441em;
}

h3 {
  font-size: 1.953em;
}

h4 {
  font-size: 1.563em;
}

h5 {
  font-size: 1.25em;
}

small,
.text_small {
  font-size: 0.8em;
}

a {
  box-shadow: inset 0 -5px 0 rgba(244, 247, 73, 0.767);
  color: inherit;
  cursor: pointer;
  transition: all 200ms cubic-bezier(0.01, 0.5, 0.465, 0.81);
  text-decoration: none;
}

a:hover {
  box-shadow: inset 0 -20px 0 rgba(244, 247, 73, 0.767);
}
